name: P2P
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: read
  id-token: write

jobs:
  p2p:
    uses: coreeng/p2p/.github/workflows/p2p.yaml@v0.15.0
    secrets:
      env_vars: |
        ENVIRONMENT=${{ vars.ENV }}
        BASE_URL=${{ vars.BASE_URL }}
    with:
      env-name: ${{ vars.ENV }}
      project-id: ${{ vars.PROJECT_ID }}
      project-number: ${{ vars.PROJECT_NUMBER }}
      tenant-name: ${{ vars.TENANT_NAME }}
