name: P2P
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  p2p:
    uses: coreeng/reusable-p2p/.github/workflows/idp-p2p.yaml@v0.2.0
    with:
      project-id: ${{ vars.PROJECT_ID }}
      project-number: ${{ vars.PROJECT_NUMBER }}
      tenant-name: ${{ vars.TENANT_NAME }}
